<% provide(:title, 'View Project') %>
<h1>ProjectName: <%= @project.name %></h1>
<p>Project Description: <%= @project.description %></p>
<p>Start Date: <%= @project.start %></p>
<p>End Date: <%= @project.end %></p>
<div>
  <%= link_to "Update Project Profile", edit_project_path(@project), class: "btn-primary" %>
</div>
