<% provide(:title, 'View Project') %>
<% provide(:project_id, @project.id) %>
<h1>ProjectName: <%= @project.name %></h1>
<p>Project Description: <%= @project.description %></p>
<p>Start Date: <%= @project.start %></p>
<p>End Date: <%= @project.end %></p>
<div>
  <%= link_to "Update Project Profile", edit_project_path(@project), class: "btn btn-primary" %>
</div>
<div>
  <p>Posts for this project</p>
  <div id="post_list">
  <% if @posts.any? %>
    <ol>
      <%= render partial: 'shared/post', collection: @posts %>
    </ol>
   <% end %>
   </div>
</div>
<div>
  <p>Collaborators on this project</p>
  <div id="coll_list">
  <% if @collaborators.any? %>
    <ul>
      <%= render @collaborators %>
    </ul>
   <% end %>
   </div>
</div>
<div>
 <p>Use the form below to add collaborators to this project</p>
 <%= render 'coll_add_form' %>
</div>
<div>
 <p>Use the form below to make posts and discuss this project</p>
 <%= render 'post_form' %>
</div>
